{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Oops ! Une erreur a été détectée</h1>
{% endblock %}

{% block body %}
    <div class="row">
        Revenir à la <a href="{{ path('homepage') }}">Page d'accueil</a> !
    </div>
{% endblock %}